:root {
    --light-opacity: #eeeeee1e;
    --light: #ffffffdd;

    font-family: 'Codystar', monospace;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
    background-size: cover;
}

.container {
    background-color: var(--light-opacity);
    width: 70vw;
    height: 85vh;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
}

.container:hover {
    background-color: var(--light);
}

.container > h1 {
    margin: 0 20px 10px;
    font-size: 2.8rem;
    text-align: justify;
}

.container > h2 {
    margin: 0 20px 5px;
    font-size: 2.2rem;
}

.container > h3 {
    margin: 0 20px 10px;
    font-size: 1.8rem;
}

.fields {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.left-col, .right-col {
    width: calc(48% - 30px);
}

.label input{
    width: 100%;
    height: 32px;
    font-size: 1.8rem;
    margin-bottom: 18px;
    background-color: var(--light-opacity);
}

.break-line {
    width: calc(100% - 40px);
    margin: 8px auto;
    border: 2px solid black;
    border-radius: 2px;
}